[submodule "src/cutf"]
	path = src/cutf
	url = https://github.com/enp1s0/cutf
[submodule "test/mateval"]
	path = test/mateval
	url = https://github.com/enp1s0/mateval
[submodule "src/matfile"]
	path = src/matfile
	url = https://github.com/enp1s0/matfile
[submodule "test/matfile"]
	path = test/matfile
	url = https://github.com/enp1s0/matfile
[submodule "test/gpu_monitor"]
	path = test/gpu_monitor
	url = https://github.com/enp1s0/gpu_monitor
